<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<bean id="serviceA" class="org.simonme.srcstudy.spring3.demo.service.impl.ServiceAImpl">
		<property name="field" value="field4AInstacne"/>
	</bean>
	
	<bean id="serviceB" class="org.simonme.srcstudy.spring3.demo.service.impl.ServiceBImpl">
		<property name="field" value="field4BInstacne"/>
	</bean>
	
	
	<bean id="userDaoa" class="org.simonme.srcstudy.spring3.demo.dao.impl.UserDaoAImpl">
	</bean>
	
	<bean id="userService" class="org.simonme.srcstudy.spring3.demo.service.impl.UserServiceImpl">
	     <property name="userDao" ref="userDaoa"/>
	</bean>
</beans>
